$theme-colors: (
    "primary": #ffdfa6
);

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import "~bootstrap/scss/bootstrap";


html, body {
    height: 100%;
    font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-weight: 500;
    overflow: hidden;
    user-select: none !important;
    font-size: 1rem;
}

.container {
    height: 100vh;
    margin: 0;
    max-width: 100vw !important;
    padding: 0;
    width: 100vw;
    > .row {
        flex-wrap: nowrap;
        height: 85vh;
        margin: 0;
        &.button-row {
            height: 15vh;
        }
        > .col {
            background-color: rgb(209, 213, 219);
            align-items: flex-end;
            align-content: flex-end;
            display: flex;
            flex-wrap: wrap;
            margin: 0 5px;
            overflow-y: auto;
            padding: 0 5px;
            .strip-container {
                flex-grow: 1;
                padding-right: 5px !important;
            }
            &:first-child() {
                margin-left: 0;
            }
            &:last-child() {
                margin-right: 0;
            }
        }
    }
}
.row {
    margin: 0;
}

.bay {
    width: 100%;
    > div {
        display: block;
        overflow: hidden;
        overflow-y: auto;
    }
    .bay-50 {
        width: 100%;
        height: 37.2vh;
    }
    .bay-75 {
        width: 100%;
        height: 50vh;
    }
    .bay-25 {
        width: 100%;
        height: 24.3vh;
    }
}

.button-row {
    background-color: #d9d9d9;
    border-top: 1px solid black;
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 15vh;
        padding: 10px 0;
        margin: 0 auto;
        width: 66vw;
        .button {
            background-color: #ccc;
            border: 1px solid black;
            margin-left: 5px;
            padding: 5vh 0;
            text-align: center;
            width: 7vw;
        }
        .info {
            background-color: #fff;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            margin: 0 5px;
            padding: 5px;
            text-align: center;
            width: 15vw;
            .station {
                font-size: 1.5rem;
            }
            .freq {
                font-size: 0.75rem;
            }
            .time {
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }
}

.strip {
    background-color: #fff;
    border-bottom: 4px solid;
    border-top: 4px solid;
    font-size: 1rem;
    margin: 15px 0;
    padding: 0;
    width: 100%;
    &.N {
        border-color: rgb(253, 230, 138);
    }
    &.E {
        border-color: rgb(239, 68, 68);
    }
    &.S {
        border-color: black;
    }
    &.W {
        border-color: rgb(29, 78, 216);
    }
    &#vfr {
        border-color: rgb(0, 117, 16);
    }
    .col, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
        border-left: 1px solid black;
        padding: 0;
        padding-left: 5px;  
    }
    .col-1:last-child {
        border-right: 1px solid black !important;
    }
    .col-1.buttons{
        max-width: 3.5% !important;
    }
    .h-55 {
        height: 55px;
    }
    .waypoint {
        display: flex;
        align-items: center;
    }
    .copx {
        bottom: 0;
        position: absolute;
    }
    .copn {
        position: absolute;
        top: 0;
    }
    .next {
        margin: auto 0;
    }
    .center {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .wtc-h, .vt-t {
        color: rgb(239, 68, 68);
        font-weight: bold;
        padding: 0 3px;
        font-size: 1.6rem;
    }
}

.modal-dialog {
    background-color: rgb(209, 213, 219);
    .modal-content {
        border: none;
        background: transparent;
        .transfer {
            .header {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                .title {
                    border: 1px solid black;
                    padding: 5px 30%;
                }
                .cs {
                    border: 1px solid black;
                    padding: 5px 15%;
                    border-top: none;
                }
            }
            .cancel-btn {
                border: 1px solid;
                padding: 0 55px;
            }
            .assr-btn {
                padding: 15px 50px;
                border: 1px solid black;
                border-bottom: none;
                text-align: center;
                &:last-child() {
                    border-bottom: 1px solid;
                }
            }
            .assr-input {
                display: flex;
                input {
                    background-color: rgb(209, 213, 219);
                    border-bottom: none;
                    border-color: black;
                    border-radius: 0;
                    border-right: none;
                    width: 75%;
                    padding: 27px 6px;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 0;
                    height: 0;
                    color: black;
                }
                .man-assr {
                    border-bottom: none;
                    padding: 15px;
                }
            }
            .action-btn {
                border: 1px solid black;
                padding: 10px 30px;
                text-align: center;
            }
            .transfer .col-1 {
                padding: 0;
            }
            .station-list {
                display: block;
                height: 39.5vh;
                overflow: auto;
                scrollbar-color: #b7b7b7 #d1d5db;
                scrollbar-width: 65px;;
                &::-webkit-scrollbar {
                    background-color: #d1d5db; 
                    height: 65px;
                    width: 65px;
                    border-left: 1px solid black
                }
                &::-webkit-scrollbar-button {
                    background-color: #999;
                    height: 55px;
                    width: 55px;
                    &:single-button():vertical(){
                        border-style: solid;
                        &:increment() {
                            border-width: 32px 32px 0 32px;
                            border-color: #000 transparent transparent transparent;
                        }
                        &:decrement() {
                            border-width: 0 32px 32px 32px;
                            border-color: transparent transparent #000 transparent;
                        }
                    }
                }
                &::-webkit-scrollbar-thumb {
                    background: #b7b7b7;
                    border: 0px none #ffffff;
                    border-radius: 0px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #686868;
                }
                &::-webkit-scrollbar-thumb:active {
                    background: #686868;
                }
                &::-webkit-scrollbar-track {
                    background: #d1d5db;
                    border-radius: 0px;
                    border: 0px none #ffffff;
                }
                &::-webkit-scrollbar-track:hover {
                    background: #d1d5db;
                }
                &::-webkit-scrollbar-track:active {
                    background: #d1d5db;
                }
                &::-webkit-scrollbar-corner {
                    background: transparent;
                }

                .station-container{
                    padding: 35px 0 0;
                    .title {
                        background: #d1d5db;
                        border-right: 1px solid black;
                        display: block;
                        height: 35px;
                        line-height: 32px;
                        margin: -35px -15px 0;
                        position: fixed;
                        text-align: center;
                        width: 20.5vw;
                        z-index: 100;
                    }
                    .station-row {
                        border-right: 1px solid black;
                        font-size: 1.5rem;
                        margin: 0 -15px;
                        text-align: center;
                        &:last-child {
                            div {
                                border-bottom: none !important;
                            }
                        }
                        &#next {
                            font-size: 1.5rem;
                            background-color: #b7e1cd;
                            div {
                                padding-top: 15px !important;
                                padding-bottom: 15px !important;
                            }
                        }
                    }
                }
            }
        }
        &.clearance {
            border: 1px solid black;
            border-radius: 0px;
            .modal-body {
                padding: 0.5rem;
                .header {
                    border-bottom: 1px solid black;
                    margin: 0 -0.5rem;
                    p {
                        text-align: center;
                        width: 100%;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
        &.settings {
            border: 1px solid black;
            border-radius: 0px;
            .modal-body {
                padding: 0.5rem;
                .header {
                    border-bottom: 1px solid black;
                    margin: 0 -0.5rem;
                    p {
                        text-align: center;
                        width: 100%;
                        margin-bottom: 0.5rem;
                    }
                }
                .button {
                    margin: auto 0;
                }
                .form-label {
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.bay-title {
    background-color: #ffdfa6;
    font-size: 2em;
    font-weight: 800;
    height: 5vh;
    line-height: 1.4em;
    text-align: center;
    width: 100%;
}

.selected {
    background-color: #b7e1cd;
}

.fw-b {
    font-weight: 800;
}

.b-t {
    border-top: 1px solid black;
    margin-left: -5px;
    padding-left: 5px;
}

.fs-xs {
    font-size: 0.6rem;
}

.fs-s {
    font-size: 0.8rem;
}

.fs-l {
    font-size: 1.2rem;
}

.fc-blue {
    color: rgb(37, 99, 235);
}

.fc-red {
    color:  rgb(220, 38, 38);
}

.fc-green {
    color: rgb(0, 117, 16);
}

.scratch-pad {
    color: blue;
    font-family: 'Indie Flower';
    font-weight: 400;
}

.bg-main {
    background-color: rgb(209, 213, 219);
}

@include media-breakpoint-down(lg) {
    .strip {font-size: 0.9rem;}
    .fs-l{font-size: 0.9rem}
    .fs-s{font-size: 0.6rem}
    .fs-xs{font-size: 0.4rem}
}
